.placeholder-img {
  background-color: var(--color-bg-light-gray);
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.placeholder-img.back {
  background-image: url("/back.png");
}

.placeholder-img.side {
  background-image: url("/side.png");
}

.placeholder-img.front {
  background-image: url("/front.png");
}

.file-input {
  position: relative;
  display: inline-block;
  padding: 12px 12px 12px 50px;
  border: 1px solid var(--color-border-gray);
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.file-input::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.2936 3.29335C12.2768 2.31016 13.6102 1.75781 15.0007 1.75781C16.3911 1.75781 17.7246 2.31016 18.7078 3.29335C19.691 4.27653 20.2433 5.61002 20.2433 7.00045C20.2433 8.39089 19.691 9.72437 18.7078 10.7076L12.2078 17.2076C11.6224 17.7929 10.8285 18.1218 10.0007 18.1218C9.17285 18.1218 8.37893 17.7929 7.79357 17.2076C7.20821 16.6222 6.87936 15.8283 6.87936 15.0005C6.87936 14.1726 7.20821 13.3787 7.79357 12.7933L14.2936 6.29335C14.6841 5.90282 15.3173 5.90282 15.7078 6.29335C16.0983 6.68387 16.0983 7.31704 15.7078 7.70756L9.20779 14.2076C8.9975 14.4178 8.87936 14.7031 8.87936 15.0005C8.87936 15.2978 8.9975 15.5831 9.20779 15.7933C9.41808 16.0036 9.70329 16.1218 10.0007 16.1218C10.2981 16.1218 10.5833 16.0036 10.7936 15.7933L17.2936 9.29335C17.9017 8.68523 18.2433 7.86045 18.2433 7.00045C18.2433 6.14045 17.9017 5.31567 17.2936 4.70756C16.6855 4.09945 15.8607 3.75781 15.0007 3.75781C14.1407 3.75781 13.3159 4.09945 12.7078 4.70756L6.20779 11.2076C5.20185 12.2135 4.63672 13.5778 4.63672 15.0005C4.63672 16.4231 5.20185 17.7874 6.20779 18.7933C7.21372 19.7993 8.57807 20.3644 10.0007 20.3644C11.4233 20.3644 12.7876 19.7993 13.7936 18.7933L20.2936 12.2933C20.6841 11.9028 21.3173 11.9028 21.7078 12.2933C22.0983 12.6839 22.0983 13.317 21.7078 13.7076L15.2078 20.2076C13.8268 21.5886 11.9537 22.3644 10.0007 22.3644C8.04764 22.3644 6.17458 21.5886 4.79357 20.2076C3.41256 18.8265 2.63672 16.9535 2.63672 15.0005C2.63672 13.0474 3.41256 11.1744 4.79357 9.79335L11.2936 3.29335Z" fill="%23969696"/></svg>');
  position: absolute;
  left: 17px;
}

.file-input:hover {
  background-color: var(--color-bg-gray);
}
